html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  margin:0px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
div {
  max-width: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
  color: #005272;
}
.heroSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(33,33,33,0.5), rgba(33,33,33,0.5)), url(../images/art-colorful-contemporary-2047905.jpg);
  padding-top: 75px;
  padding-bottom: 75px;
  background-position: 50%;
  margin-top:90px;
  background-attachment: fixed;
}
.heroTitle {
  color:#fff;
  font-size:36px;
  line-height:125%;
  text-align:center;
  font-family: 'Roboto', sans-serif;
}
.heroSubTitle {
  color:#fff;
  font-size:24px;
  line-height:125%;
  text-align:center;
}
.basicSection {
  padding-top:60px;
  padding-bottom:60px;
}
.basicContainer {
  width:80%;
  margin:auto;
}
body::-webkit-scrollbar {
  width: 0.8em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
html{
  scroll-behavior:smooth
}
nav {
  height:90px;
  background-color:#ccc;
  display:flex;
  padding-left:10%;
  padding-right: 10%;
  position: absolute;
  width: 100%;
}
.logo {
  width: auto;
  height: 60px;
}
.nav-logo {
  display:flex;
  justify-content: center;
  align-items: center;
  width:40%;
}
.nav-links {
  width:40%;
  justify-content: flex-end;
  display:flex;
  align-items: center;
}
.portal {
  width:30%;
  background-color: #ccc;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.portalContainer {
  display:flex;
  justify-content: space-between;
}
