html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  margin:0px;
  font-family: 'Open Sans', sans-serif;
}
div {
  max-width: 100%;
}
.heroSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(33,33,33,0.5), rgba(33,33,33,0.5)), url(/Users/connormcdonald/Documents/GitHub/INST377/images/art-colorful-contemporary-2047905.jpg);
  padding-top: 75px;
  padding-bottom: 75px;
  background-position: 50%;
}
.heroTitle {
  color:#fff;
  font-size:36px;
  line-height:125%;
  text-align:center;
  font-family: 'Roboto', sans-serif;
}
.heroSubTitle {
  color:#fff;
  font-size:24px;
  line-height:125%;
  text-align:center;
}
.basicSection {
  padding-top:60px;
  padding-bottom:60px;
}
.basicContainer {
  width:80%;
  margin:auto;
}
body::-webkit-scrollbar {
  width: 0.8em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
html{
  scroll-behavior:smooth
}
nav {
  height:60px;
  background-color:#ccc;
  
}